{% extends "base.html.twig" %}
{% block title%}
    Gestion des listes
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div>
    <div class="pull-right">
    </div>
    <h1>Tache de la {{ listeDetails.Nom}}
        <a href ="{{ path('tache-ajout')}}" class ="btn btn-sm btn-outline-success" style="float: right;">
            <i class ="glyphicon glyphicon-edit" >
            Ajouter une Tache
            </i>
        </a>
    </h1>

    <hr />
    <table id="table" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th style="border-top:0px solid black; padding-left: 9px; text-align: center;">Nom</th>
                <th style="border-top:0px solid black; padding-left: 9px; text-align: center;">Statut</th>
                <th style="border-top:0px solid black; padding-left: 9px; text-align: center;">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for tache in listeDetails.Tache %}
                <td style="text-align: center;">{{ tache.Nom }}</td>
                <td style="text-align: center;">{{ tache.Statut }}  
                <form action="{{ path('tache-modification-statut', {'id': tache.id }) }}" method="post" style="text-align: center;">
                        {% if tache.Statut == 'A Faire' %}
                            <input type="submit" name="statut" value="En Cours" class="btn btn-outline-warning" />
                        {% elseif tache.Statut == 'En Cours' %}
                            <input type="submit" name="statut" value="Terminé" class="btn btn-outline-primary" />
                        {% endif %}
                    </form>
                </td>
                <td style="text-align: center;">
                    <a class="suppression btn btn-outline-danger btn-sm" style="text-align: center;" href="{{ path('tache-suppression', {id: tache.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette tâche ?')">
                        <i class ="glyphicon glyphicon-chevron-left"></i>
                        Supprimer la tache
                    </a>
                    <a class="btn btn-outline-primary btn-sm" href="{{ path('tache-modification', {id: tache.id}) }}" style="text-align: center;">
                        <i class ="glyphicon glyphicon-chevron-left"></i>
                        Modifier la tache
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}