{% extends "base.html.twig" %}
{% block title%}
    Gestion des listes
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div class="container">
<div class="row">
        {% for liste in listeListe %}
        <div class="col-sm-3">
            <div class="card" style="width: 18rem; height: 9rem; margin-bottom: 20px;">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;">{{ liste.Nom }}</h5>
                    <p class="card-text">{{ liste.Description }}</p>
                    <a href="{{ path('listes-details', {id: liste.id}) }}" class="card-link">Voir la liste</a>
                    <a href="#" class="card-link">Supprimer la liste</a>
                </div>
            </div>
        </div>
        {% endfor %}
        <a class="btn" href="{{ path('liste-ajout') }}"><i class="far fa-plus-square fa-9x" style="color: green;"></i></a>
        </div>
</div>
{% endblock %}