<div>
<div class="pull-right">
</div>
    <div class="well">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        
        {# Les erreurs générales du formulaire #}
        {{ form_errors(form) }}

        {# Génération manuelle du formulaire #}
        {# Nom de la tache #}
        <div class="form-group">
            {# Génération du label #}
            {{ form_label(form.Nom, "Nom de la tâche", {'label_attr': {'class': 'cal-sm-2 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis #}
            {{ form_errors(form.Nom) }}
            <div class="col-sm-10">
                {# Génération de l'input. #}
                {{ form_widget(form.Nom, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {# Nom de la tache #}
        <div class="form-group">
            {# Génération du label #}
            {{ form_label(form.Statut, "Statut de la tâche", {'label_attr': {'class': 'cal-sm-2 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis #}
            {{ form_errors(form.Statut) }}
            <div class="col-sm-10">
                {# Génération de l'input. #}
                {{ form_widget(form.Statut, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {# Liste associée de la tache #}
        <div class="form-group">
            {# Génération du label #}
            {{ form_label(form.Liste, "Attribuer une liste a la tâche", {'label_attr': {'class': 'cal-sm-2 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis #}
            {{ form_errors(form.Liste) }}
            <div class="col-sm-10">
                {# Génération de l'input. #}
                {{ form_widget(form.Liste, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <p>
        {# Génération automatique des champs pas encore écrits #}
        {{ form_rest(form) }}
        {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
        {{ form_widget(form.Sauvegarder, {'attr': {'class': 'btn btn-outline-primary'}}) }}
        {# Fermeture de la balise <form> de formulaire HTML #}
        {{ form_end(form) }}
    </div>
</html>
